.product {
  &__name {
    border-bottom: 1px solid #dedede;
  }

  &__link {
    text-decoration: none;
  }

  &__description {
    padding: 2rem 0;
  }

  &__price {
    padding: 1rem;
    border: 1px dashed #dedede;
  }
}

.quantity-field {
  text-align: center;
}

.quantity-button,
.quantity-field {
  width: 55px;
  height: 55px;
  padding: 5px;
  border: none;
  outline: none;
}
