<div class="vh-100 center" *ngIf="!product">
  <app-spinner></app-spinner>
</div>

<div *ngIf="product">
  <div class="container-md">
    <div class="py-2">
      <app-breadcrumb></app-breadcrumb>
    </div>

    <div class="row">
      <div class="col-md-6 d-flex justify-content-center">
        <app-galery [pictureUrls]="product.pictureUrls"></app-galery>
      </div>

      <div class="col-md-6">
        <div class="product__name">
          <h1>{{ product.name }}</h1>

          <a
            class="product__link"
            [routerLink]="['/catalog']"
            [queryParams]="{ brands: product.brandId }"
            ><h4>{{ product.brandName }}</h4></a
          >
        </div>

        <div class="product__description">
          <p>{{ product.description }}</p>
        </div>

        <div class="product__price">
          <h3 class="text-danger">
            {{ product.price | currency: product.currencyCode }}
          </h3>
        </div>

        <div class="d-flex py-2">
          <div class="d-flex">
            <button
              class="quantity-button"
              type="button"
              (click)="substractQuantity()"
            >
              -
            </button>

            <input
              class="quantity-field"
              type="text"
              readonly
              [value]="quantity"
            />

            <button
              class="quantity-button"
              type="button"
              (click)="addQuantity()"
            >
              +
            </button>
          </div>

          <button
            class="btn btn-primary mx-3"
            type="button"
            (click)="addToCart()"
          >
            ADD TO CART
          </button>
        </div>
      </div>
    </div>

    <div>
      <h3>Details</h3>
      <p>{{ product.details }}</p>
    </div>
  </div>
</div>
