<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">SimpleOnlineShop</a>

    <div class="navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="shopLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Shop
          </a>

          <ul class="dropdown-menu" aria-labelledby="shopLink">
            <li>
              <a class="dropdown-item" routerLink="/catalog">View All</a>
            </li>

            <li>
              <a class="dropdown-item" routerLink="/catalog/mens">Men's</a>
            </li>

            <li>
              <a class="dropdown-item" routerLink="/catalog/womens">Women's</a>
            </li>

            <li>
              <a class="dropdown-item" routerLink="/catalog/kids">Kid's</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
