<div class="accordion-item">
  <h3 class="accordion-header">
    <button
      class="accordion-button"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#typeCollapse"
      aria-expanded="false"
      aria-controls="typeCollapse"
    >
      {{ sectionName }}
    </button>
  </h3>

  <div
    class="accordion-collapse collapse show"
    id="typeCollapse"
    aria-labelledby="typeCollapse"
  >
    <div class="accordion-body">
      <div class="form-check" *ngFor="let item of filterItems">
        <input
          class="form-check-input"
          type="checkbox"
          id="{{ sectionName + item.id }}"
          [(ngModel)]="item.checked"
          (change)="item.update()"
        />

        <label class="form-check-label" for="{{ sectionName + item.id }}">{{
          item.name
        }}</label>
      </div>
    </div>
  </div>
</div>
