<div
  class="vh-100 d-flex justify-content-center align-items-center"
  *ngIf="!pageLoaded"
>
  <app-spinner></app-spinner>
</div>

<div class="container-fluid" *ngIf="pageLoaded">
  <div class="row">
    <div class="col-md-2 justify-content-center">
      <div class="py-3 text-center">
        <h2>{{ categoryName }}</h2>
      </div>

      <div class="accordion">
        <app-types-filter class="mx-2" [types]="types"> </app-types-filter>
        <app-brands-filter class="mx-2" [brands]="brands"> </app-brands-filter>
        <app-price-filter class="mx-2" [minPrice]="minPrice" [maxPrice]="maxPrice"></app-price-filter>
      </div>
    </div>

    <div class="col-md-10">
      <div class="badge rounded-pill bg-success" *ngIf="catalog">
        {{ catalog.totalItemsCount }} results
      </div>

      <!-- Applyed filters -->
      <div class="d-flex flex-wrap justify-content-start py-3">
        <button
          class="btn btn-primary rounded-pill m-1"
          type="button"
          (click)="filter.selected = !filter.selected; filter.apply()"
          *ngFor="let filter of applyedFilters"
        >
          <img src="assets/svg/x.svg" alt="filter" />
          {{ filter.name | lowercase }}
        </button>
      </div>

      <!-- No items message -->
      <div
        class="vh-100 d-flex justify-content-center align-items-center"
        *ngIf="catalog && !catalog.items.length"
      >
        <h1 class="display-4">There are no items avaliable yet</h1>
      </div>

      <main *ngIf="catalog && catalog.items.length">
        <div class="d-flex justify-content-start">
          <app-catalog-sorter
            [sortDirection]="sortDirection"
          ></app-catalog-sorter>
        </div>

        <!-- Navigation -->
        <app-catalog-navbar
          class="py-3"
          [currentPage]="catalog.currentPage"
          [totalPages]="catalog.totalPages"
          (pageChange)="gotoPage($event)"
        ></app-catalog-navbar>

        <!-- Items -->
        <section class="m-auto row">
          <app-catalog-item
            class="col-md-4 col-sm-6 col-12 my-2"
            [item]="item"
            *ngFor="let item of catalog.items"
          ></app-catalog-item>
        </section>
      </main>
    </div>
  </div>
</div>
